# Ignore node_modules directory
node_modules/

# Ignore log files
logs/
*.log

# Ignore built files
dist/
build/

# Ignore environment-specific files
.env
.env.local
.env.*.local

# Ignore npm debug log
npm-debug.log*

# Ignore yarn lock file
yarn.lock

# Ignore Visual Studio Code settings
.vscode/

# Ignore IDE and editor-specific files
.idea/
*.sublime-project
*.sublime-workspace
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.bak
*~.nib
*.swp
.DS_Store